@font-face {
    font-family: "SpaceFont";
    src: url(../fonts/space-age.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #9c9995;
}

h1 {
    font-family: "SpaceFont";
    font-size: 36px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: lightgray;
}

#game-field {
    /*display: none*/
    position: absolute;
    width: 960px;
    height: 640px;
    border-radius: 10px;
    z-index: 10;
    left: 0%;
}

#game-background {
    /*display: none*/
    position: absolute;
    width: 960px;
    height: 640px;
    border-radius: 10px;
    z-index: 0;
    left: 0%;
}

#wrapper {
    position: relative;
    width: 960px;
    margin-left: 25%;
    text-align: center;
}

button {
    background-color: #a52a2a;
    border-radius: 10px;
}

#back-button {
    display: none;
}

#scoreBoard {
    display: block;
    border: 1px solid gray;
    border-radius: 10px;
    width: 960px;
    height: 50px;
    background-color: lightgray;
}

    #scoreBoard text {
        font-size: 24px;
        font-weight: bold;
    }

#legendBoard {
    display: block;
    margin-top: 645px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 960px;
    height: 30px;
    background-color: lightgray;
}

    #legendBoard text {
        font-size: 18px;
        font-weight: bold;
    }

@media only screen and (max-width:1368px) {
    #game-field {
        /*display: none*/
        position: absolute;
        width: 960px;
        height: 640px;
        border-radius: 10px;
        z-index: 10;
        left: 0%;
    }

    #game-background {
        /*display: none*/
        position: absolute;
        width: 960px;
        height: 640px;
        border-radius: 10px;
        z-index: 0;
        left: 0%;
    }

    #wrapper {
        position: relative;
        width: 960px;
        margin-left: 10%;
        text-align: center;
    }
}