body {
    /*background-image: url("../images/space.jpg");
    background-color: black;*/
    margin: 0;
    padding: 0;
}

#game-field {
    /*display: none*/
    position: absolute;
    left: 50px;
    width: 960px;
    height: 640px;
    border: 2px solid red;
    z-index: 10;
    margin-left: 14%;
}

#game-background {
    /*display: none*/
    position: absolute;
    left: 50px;
    width: 960px;
    height: 640px;
    border: 2px solid yellow;
    z-index: 0;
    margin-left: 14%;
}

#wrapper {
    position: relative;
    text-align: center;
}

button {
    background-color: #ff0000;
}

#back-button {
    display: none;
}

#high-score {
    display: none;
}

h1 {
    text-align: center;
}

#scoreBoard {
    border: 1px solid gray;
    border-radius: 10px;
    width: 960px;
    height: 50px;
    background-color: lightgray;
    margin-top: 1%;
    margin-left: 7%;
}

#scoreBoard text {
    font-size: 24px;
    font-weight: bold;
}

#legendBoard {
    border: 1px solid gray;
    border-radius: 10px;
    width: 960px;
    height: 30px;
    background-color: lightgray;
    margin-top: 48%;
    margin-left: 17%;
}

#legendBoard text {
    font-size: 14px;
    font-weight: bold;
}