body {
    /*background-image: url("../images/space.jpg");
    background-color: black;*/
    margin: 0;
    padding: 0;
}

#game-field {
    /*display: none*/
    width: 960px;
    height: 640px;
    border: 2px solid red;
}

#wrapper {
    text-align: center;
}

button {
    background-color: #ff0000;
}

#back-button {
    display: none;
}

#high-score {
    display: none;
}

h1 {
    text-align: center;
}
